.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.nameContainer, .vinContainer, .buttonContainer {
    width: 33%;
    padding: 10px;
}

.buttonContainer{
    margin-top: 26px;
}

.button button{
    width: 100% !important;
}